:root {
  --mainHoverColor:#ff7b7b;
  --secondaryTextColor-light:rgb(51 51 51);
  --mainLinkColor-light:#6482c2;    
 
  
  /* --- secondaryTextColor --- */  

  /*--- Shadow ---*/
  --shadowBoxBottom: 0px 5px 5px -3px rgba(214, 224, 232, 0.2);
  --shadowBoxTop: 0px 5px 5px -3px rgba(214, 224, 232, 0.2) inset;
}

*{
  font-family: 'Roboto', monospace;
  line-height: 1.8em;
  box-sizing: border-box;  
  scroll-behavior: smooth;
}

.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}  
.row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: -16px;
  margin-right: -16px;
}

.col-12 {
  width: 100%;
}

.col {
  padding-left: 16px;
  padding-right: 16px;
}